form {
	margin-top: 20px;
	margin-bottom: 20px;
}

body {
	margin-bottom: 20px;
}

ul {
	list-style: none;
	padding: 0;
}

a:hover {
	text-decoration: none;
}

.search {
	margin: 10px 0 10px 0;
}

.title {
	margin-left: 0;
	margin-right: 0;
}

.search-bar {
	margin-bottom: 10px;
}

.price {
	/*text-transform: uppercase;*/
	font-weight: 700;
	font-size: 18px;
	color: #D0021B;
}

.price span {
	font-weight: 400;
	font-size: 16px;
	color: black;
}

.selector {
	padding: 0;
}